.social-list {
    display: flex;
    text-decoration: none;
    list-style: none; 
    padding-left: 32px;
    padding-right: 32px;

    }

.social-list__item:not(:last-child) {
        margin-right:10px;
    }

.instagram,
.twitter,
.facebook,
.linkedin  {
    display: flex;
    width: 20px;
    height: 20px;
   }

.social-list__link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    fill: #AFB1B8;
   }

.social-list__link:hover, 
.social-list__link:focus {
     background-color: var(--blue-color);
     fill: var(--white-color);
     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

.social-list__link {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}